# Created by .ignore support plugin (hsz.mobi)
/wp-config.php
.idea/inspectionProfiles/
wp-content/plugins/unyson/tmp/
wp-content/upgrade/
wp-content/uploads/
.idea
wp-content/themes/horizon
wp-content/themes/shoppystore
wp-content/themes/mdkids/html
#wp-content/themes/mdkids/languages
